body{
  font-weight: 800;
  background: #f9fafc;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}
header{
  display: flex;
  color:#000;
  font-family: 'Open Sans', sans-serif;
  background-color:#f9fafc;
  justify-content:space-between;
  align-items: center;
  padding: 0 10px;
  margin: 20px;
}
a{
  color:#69696a;
  text-decoration:none;
  margin-left: 30px;
  font-family: 'Open Sans', sans-serif;

}
.heading{
  color:#000;
  margin-left: inherit;
  
}
.content{
  color:#69696a;
  margin-left: inherit;
  text-align: left;
  position: absolute;
  left: 20px;
  top: 150px;
  padding-left: 8px;
  border-left: 2px solid gray;
  width: 500px;
 
}
p{
 text-align:justify;
 margin: 0;
}
/* .circle{
  position: relative;
  left: 100px; */

.dot1{
  height: 190px;
  width: 190px;
  background-color: rgba(207,130,213,0.6);
  border-radius: 50%;
  display: inline-flex;
  position: absolute;
  margin: 200px;
  left:670px;
  bottom: 110px;
  z-index: 1;
}
.dot2{
  height: 230px;
  width: 230px;
  background-color: rgba(247,193,162,0.7);
  border-radius: 50%;
  display: inline-flex;
  position: relative;
  z-index: 3;
  left: 700px;
  bottom: 1px;
  margin: 150px;
}
.dot3{
  height: 370px;
  width: 370px;
  background-color: rgba(247,136,162,0.6);
  border-radius: 50%;
  display: inline-flex;
  position: absolute;
  left:566px;
  top:100px;
  z-index: 1;
  margin: 50px;

}
.vl{
  border-left: 2px solid grey;
  height: 100px;
  position: absolute;
  margin-left: auto;
  top:165px;
}
.footer{
  border:#000;
  position: fixed;
  bottom: 20px;
  height:20px;
  background-color: #000;
  border-radius: 12px;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  left:550px;
}
a.navbutton{
  border-color: black;
  color:white;
  background-color: black;
  width:200px;
  border-radius: 15px;
  padding: 7px 30px;
  display: left;
}
@media only screen and (max-width: 768px){
header{
  width: auto;
  margin: 0;
  display: table-caption;
  align-items: center;
  flex-wrap: nowrap;
}
.navbutton{
  display: flex;
    width: 450px;
    justify-content: center;
    border-radius: 15px;
    background-color: black;
}
 a{
   display: flex;
   color: #69696a;
   text-decoration: none;
   font-family: 'Open Sans', sans-serif;
   padding: 12px;
   margin: 0px;
 }

a.navbutton{
  display: flex;
  width: auto;
  left:20px;
  padding: 10px;
}
.circle{
  display: none;
}

p{
  text-align: -webkit-match-parent;
  margin: 0px;
  width: 450px;

}
.content{
  font-family: 'Open Sans', sans-serif;
  margin-left: inherit;
  text-align: left;
  position: absolute;
  top:280px;
  left:10px;
  padding-left: 8px;
  border-left: 2px solid gray;
}
h1.heading{
  bottom: 10px;
}
.footer{
  font-family: 'Open Sans', sans-serif;
  display: flex;
  position: unset;
  justify-content: center;
  margin-top: 248px;
}
a.navlinks{
  margin: 0px;
  padding: 4px;
}
h1.heading{
  font-family: 'Open Sans', sans-serif;
}
}